* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c141c;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 2%;
    color: #c48cb4;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px;
}

form {
    text-align: center;
    margin-right: 50px;
}

form input,
textarea,
button {
    width: 100%;
    max-width: 300px;
    border: none;
    margin: 8px;
    background-color: #413c41;
    padding: 6px;
}

form button {
    padding: 10px;
    background-color: #c48cb4;
    width: 100%;
    max-width: 320px;
    color: white;
}

button:hover {
    background-color: #cc9cbc;
}

/* Regras de mídia para ajustar o layout em telas menores */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    form {
        margin-right: 0;
    }

    form input,
    textarea,
    button {
        max-width: 100%;
    }

    form button {
        max-width: 100%;
    }
}
